/* Image replacement */
%ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
%ir br { display: none; }

/* Clear Fix */
%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}


%room {
  @include background-size(100% auto);
  z-index: -1;
}

%items {
	position: absolute;
	cursor: move;
}

%places, %props {
	position: absolute;
}

// positioning
%layer0 {z-index:0}
%layer1 {z-index:1}
%layer2 {z-index:2}
%layer3 {z-index:3}
%layer4 {z-index:4}
%layer5 {z-index:5}
%layer6 {z-index:6}
%layer7 {z-index:7}