/* Frame positioning */

#frame {
  width: 100%;
  max-width: $max-width;
  overflow: hidden;
  padding-left: $instructions-width-ems;
  position: fixed;
  top: 0; left: 0;
  @include box-sizing(border-box);
}

/* House */
#house {
  position: absolute;
  top: 0; left: $instructions-width-ems;
  @include user-select(none);
  z-index: 1;
}