/* Frame positioning */
body {
  @include user-select(none);
}

#frame {
  width: 100%;
  max-width: $house-width;
  overflow: hidden;
  padding-left: $instructions-width-ems + 4em;
  position: fixed;
  top: 0; left: 0;
  @include box-sizing(border-box);
  [data-progress="cleaning-house"] &, [data-progress="dialog-outro"] & {
    @include transition(opacity, 2s);
  }
}

/* House */
$floor-easing: cubic-bezier(0.77, 0, 0.175, 1);

#house {
  position: absolute;
  top: 0; left: $instructions-width-ems;
  z-index: 1;
  [data-currentFloor="downstairs"] & {
    @include translate(0, -50%);
    @include animation(goDown 2s $floor-easing);    
  }
  [data-currentFloor="upstairs"] & {
    @include animation(goUp 2s $floor-easing);    
  }
  @include transition(transform 1.75s $floor-easing);
}

@include keyframes(goUp) {
  0% { opacity: 1 }
  25% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(goDown) {
  0% { opacity: 1 }
  25% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}