$parent-width: $house-width;
$parent-height: $frame-height;

/* Props */
$props-use-percentages: true;
$props-layout: smart;
@import "props/*.png";
$props-sprite-width: sprite_width($props-sprites);

/* Items */
$places-use-percentages: true;
$places-spacing: 4px;
@import "places/*.png";
$places-sprite-width: sprite_width($places-sprites);

.messy, .places, .props {
  position:absolute; top: 0; left: 0;
  width: 100%; height: 100%;
}

.messy {
  li { @extend %layer2; }
  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: auto;
  }
}

.places {
  li { @extend %layer1; }
  img {
    // hide the dropped images
    display: none;
  }
}

.places .droppable { // the destination needs to sit on top of all over divs 
  z-index: 50 !important;
}