/* UI Sprites */
$ui-use-percentages: true;
$ui-sprite-layout: smart;
@import "ui/*.png";
$ui-sprite: $ui-sprites;
$ui-sprite-width: sprite_width($ui-sprites);
$ui-sprite-height: sprite_height($ui-sprites);

/* The interface */
#ui {
	float: left;
	width: $instructions-width-ems; 
	position: relative;
	.wrapper {
		color: #fff;
		overflow: auto;		
		position: absolute;
		line-height: 1.4em;
	}
	h1 {
		color: #ebaa0e;
		text-transform: uppercase;
		font-size: 1.1em;
		padding-top: .25em;
		text-align: center;
	}
}

#loading, #success {
	display:none;
	background-color: #000;
	width: 100%; height: 100%;
	position: absolute; left: 50%; top: 0;
	@include translate(-50%, 0);
	.card {
		@include set-dimensions(1500px, 1000px, $max-width);
		@include background-size(100% auto);
		background-position: center 100%;
		background-repeat: no-repeat;
		max-width: $max-width;
		position: absolute; left: 0; bottom: 0;
	}
}

#loading {
	@include transition(opacity 2s $floor-easing);
	z-index: -1;
	.card {@include background-image(image-url("loading.jpg"));}
	.loader {
		@include ui-sprite(loader);
		@include set-dimensions(108px, 15px, $max-width);
		@include set-position(692px, 916px, $max-width, $frame-height);
		position: absolute;
		@include animation(loading-dots 3s steps(3) forwards infinite);
		@include set-bg-height($ui-sprite-height, $ui-sprite, loader);
	}
}

@include keyframes(loading-dots) {
	0% { 
		@include set-dimensions(36px, 15px, $max-width);
	}
	100% {
		@include set-dimensions(144px, 15px, $max-width);		
	}
}

#music-controls {
	cursor: pointer;
	@extend %ir;
	@include set-dimensions(99px, 75px, $max-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, music-off);
	@include set-position(1350px, 50px, $max-width, $frame-height);	
	position: fixed;
	z-index: 50;
	&.off {
		@include ui-sprite(music-off);
	}
	&.on {
		@include ui-sprite(music-on);
	}
}

#success {
	z-index: 50;
	.card { @include background-image(image-url("outro.jpg")); }
	a {
		@extend %ir;
		@include set-dimensions(516px, 212px, $max-width);		
		@include set-position(478px, 236px, $max-width, $frame-height);
		position: absolute;
	}
}

.instructions, .instructions-photos {
	@extend %ir;
	@include set-dimensions(241px, 254px, $ui-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, bg_instructions);
	opacity: 0;
}

.instructions {
	@include ui-sprite(bg_instructions);
	margin: .5em 0 1em;
	position: relative;
	@include offsetLeft(14px, $instructions-width);
}

.instructions-photos {
	@include ui-sprite(bg_instructions-photos);
	opacity: 0;
	position: absolute;
	@include offsetLeft(14px, $instructions-width);
	top: .5em;
	@include transition(opacity 2s);
}

@include keyframes(fadeIn) {
  0% { opacity: 0 }
  1% { opacity: 0 }
}

@include keyframes(fadeInUp) {
  0% { opacity: 0 }
  1% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(fadeInDown) {
  0% { opacity: 0 }
  1% { opacity: 0 }
  100% { opacity: 1 }
}

.to-do {
	display: none;
	position: relative;
	margin-bottom:2em;
	@include ui-sprite(bg_list); 
	@include set-dimensions(227px, $instructions-height, $ui-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, bg_list);
	@include offsetLeft(23px, $instructions-width);
	// Ensure the scrollbar of the .to-do list is accessible to Windows users. - Kevin Lozandier 
	z-index: 49;
	.wrapper {
		@include set-position(34px, 24px, $instructions-width, $instructions-height);
		@include set-width(154px, $instructions-width);
		height: 29em;
	}
	ul {
		[data-currentFloor="downstairs"] & {
			opacity: 0;
			@include animation(fadeInDown 2s $floor-easing forwards);
		}
		[data-currentFloor="upstairs"] & {
			opacity: 0;
			@include animation(fadeInUp 2s $floor-easing forwards);
		}
	}
	li {
		padding-left: percentage(22px/154px);
		position: relative;
		&:before {
			content: " ";
			@include ui-sprite(i_dash); 
			@include set-dimensions(11px, 3px, $ui-width);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_dash);
			position: absolute;
			top: .5em; left: 0;
		}
		[data-currentFloor="default"] &.downstairs,
		[data-currentFloor="upstairs"] &.downstairs,
		[data-currentFloor="downstairs"] &.upstairs { display: none; }
	}
	del {
		@include opacity(.6);
	}
}

/* Navigating between floors */
.to_upstairs {
	@include ui-sprite(i_up);
	@include set-dimensions(46px, 66px, $house-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, i_up);
	@include set-position(624px, 1104px, $house-width, $frame-height*2);
}

.to_downstairs {
	@include ui-sprite(i_down);
	@include set-dimensions(46px, 66px, $house-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, i_up);
	@include set-position(214px, 633px, $house-width, $frame-height*2);
}

.warp { 
	cursor: pointer;
	position: absolute;
	z-index:10;
	@include transition(opacity 2s);
}

/* Conversation between Dolly and Scare Crow */
/* Dialog Sprites */
$dialog-use-percentages: true;
$dialog-sprite-spacing: 2px;
@import "dialog/*.png";
$dialog-sprite: $dialog-sprites;
$dialog-sprite-width: sprite_width($dialog-sprites);
.dialog { 
	display: none;
	position: relative;
}

.dialog-nav {
	color :#fff;
	text-align: center;
	position: absolute;
	top: -1em; left: 0;
	width: 100%;
	@extend %clearfix;
	.prev, .next { 
		cursor: pointer; 
		width: 48%;
		@include box-sizing(border-box);
	}
	.prev {
		float: left;
		padding-left:1em;
		&:before {
			content: '';
			display: inline-block;
			margin-right: .25em;
			@include ui-sprite(i_prev);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_prev);
			width: 1em; height: .945em;
		}
	}
	.next {
		float: right;
		padding-right:3em;
		&:after {
			content: '';
			display: inline-block;
			margin-left: .25em;
			@include ui-sprite(i_next);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_next);
			width: 1em; height: .945em;
		}
	}
	.start & .prev {
		display: none;
	}
}

@include create-dialog("intro", 1);
@include create-dialog("intro", 2);
@include create-dialog("intro", 3);
@include create-dialog("intro", 4);
@include create-dialog("intro", 5);
@include create-dialog("intro", 6);

@include create-dialog("outro", 1);
@include create-dialog("outro", 2);
