/* UI Sprites */
$ui-use-percentages: true;
$ui-sprite-layout: smart;
@import "ui/*.png";
$ui-sprite: $ui-sprites;
$ui-sprite-width: sprite_width($ui-sprites);

/* The interface */
#ui {
	// z-index: 2;
	float: left;
	width: $instructions-width-ems; 
	font-family: $writing;
	position: relative;
	.wrapper {
		color: #fff;
		overflow: auto;		
		position: absolute;
		line-height: 1.4em;
	}
	h1 {
		color: #ebaa0e;
		text-transform: uppercase;
		font-size: 1.1em;
		padding-top: .25em;
	}
	p, h1 {
		text-align: center;
	}
}

/* States */
[data-progress="dialog-intro"] {
	#frame { 
		opacity: .5;
		pointer-events: none;
	}
	.instructions {opacity: 0}
	.to-do { display: none}
	#dialog-outro {display:none}
	.warp { opacity: 0;}
}

[data-progress="cleaning-house"] {
	.instructions {opacity: 1}
	.to-do { display: block}
	#dialog-intro {display:none}
	#dialog-outro {display:none}
}

[data-progress="dialog-outro"] {
	#frame { 
		opacity: .5;
		pointer-events: none;
	}
	.instructions {opacity: 0}
	.to-do { display: none}
	#dialog-intro {display:none}
	#dialog-outro {display:block}
	.warp { opacity: 0;}
}

[data-progress="copmleted"] {
	// .instructions {opacity: 0}
	// .to-do { display: none}
	// #dialog-intro {display:none}
	// #dialog-outro {display:none}
	// .warp { display: none;}
}
.instructions {
	@include ui-sprite(bg_instructions); 
	@include set-dimensions(225px, 232px, $ui-width);
	margin-bottom: 1em;
	position: relative;
	@include set-bg-width($ui-sprite-width, $ui-sprite, bg_instructions);
	@include offsetLeft(42px, $instructions-width);
	.wrapper {
		@include set-position(35px, 104px, $instructions-width, $instructions-height);
		@include set-width(170px, $instructions-width);
		height: 10em;
	}
}

.dialog-intro, .to-do, .dialog-outro {
	position: relative;
	@include ui-sprite(bg_list); 
	@include set-dimensions(227px, $instructions-height, $ui-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, bg_list);
	float: right;
}

@include keyframes(fadeInDown) {
  0% { opacity: 0 }
  1% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(fadeInUp) {
  0% { opacity: 0 }
  1% { opacity: 0 }
  100% { opacity: 1 }
}

.to-do {
	//@include offsetLeft(59px, $instructions-width);
	.wrapper {
		@include set-position(34px, 24px, $instructions-width, $instructions-height);
		@include set-width(154px, $instructions-width);
		height: 29em;
	}
	ul {
		[data-currentFloor="downstairs"] & {
			opacity: 0;
			@include animation(fadeInDown 2s $floor-easing forwards);
		}
		[data-currentFloor="upstairs"] & {
			opacity: 0;
			@include animation(fadeInUp 2s $floor-easing forwards);
		}
	}
	li {
		padding-left: percentage(22px/154px);
		position: relative;
		&:before {
			content: " ";
			@include ui-sprite(i_dash); 
			@include set-dimensions(11px, 3px, $ui-width);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_dash);
			position: absolute;
			top: .5em; left: 0;
		}
		[data-currentFloor="default"] &.downstairs,
		[data-currentFloor="upstairs"] &.downstairs,
		[data-currentFloor="downstairs"] &.upstairs { display: none; }
	}
	del {
		@include opacity(.6);
	}
}

.dialog-outro {
	display: none;
}


/* Navigating between floors */
.to_upstairs {
	@include ui-sprite(i_up);
	@include set-dimensions(46px, 66px, $house-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, i_up);
	@include set-position(624px, 1104px, $house-width, $frame-height*2);
}

.to_downstairs {
	@include ui-sprite(i_down);
	@include set-dimensions(46px, 66px, $house-width);
	@include set-bg-width($ui-sprite-width, $ui-sprite, i_up);
	@include set-position(214px, 633px, $house-width, $frame-height*2);
}

.warp { 
	cursor: pointer;
	position: absolute;
	z-index:10;
	@include transition(opacity 2s);
}

/* Conversation between Dolly and Scare Crow */
/* Dialog Sprites */
$dialog-use-percentages: true;
$dialog-sprite-spacing: 2px;
@import "dialog/*.png";
$dialog-sprite: $dialog-sprites;
$dialog-sprite-width: sprite_width($dialog-sprites);

#dialog-intro, #dialog-outro {
	position: relative;
	margin-bottom:2em;
}

.dialog-nav {
	color :#fff;
	text-align: center;
	padding: .5em 0 2em;
	@extend %clearfix;
	.prev, .next { 
		cursor: pointer; 
		width: 48%;
		@include box-sizing(border-box);
	}
	.prev {
		float: left;
		padding-left:1em;
		&:before {
			content: '';
			display: inline-block;
			margin-right: .25em;
			@include ui-sprite(i_prev);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_prev);
			width: 1em; height: .945em;
		}
	}
	.next {
		float: right;
		padding-right:3em;
		&:after {
			content: '';
			display: inline-block;
			margin-left: .25em;
			@include ui-sprite(i_next);
			@include set-bg-width($ui-sprite-width, $ui-sprite, i_next);
			width: 1em; height: .945em;
		}
	}
	.start & .prev {
		display: none;
	}
}

@include create-dialog("intro", 1);
@include create-dialog("intro", 2);
@include create-dialog("intro", 3);
@include create-dialog("intro", 4);
@include create-dialog("intro", 5);
@include create-dialog("intro", 6);

@include create-dialog("outro", 1);
@include create-dialog("outro", 2);